<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>대테러 작전 성공</title>
</head>
<body>
    <div class="final_message">
        <p>예수님 안에서 하나됨으로,</p>
        <p>남흥교회를 향한 공격을 성공적으로 막았습니다.</p>
    </div>
</body>
</html>