<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>대테러 작전 성공</title>
</head>
<body>
    <div class="final_message">
        <p>예수님 안에서 경쟁을 멈추고 하나됨으로,</p>
        <p>남흥교회를 향한 공격을 성공적으로 막았습니다.</p>
        <p>하나됨을 힘써 유지하는 호도스 공동체 되기를 바랍니다.</p>
        <p class="final_word">"형제들아 내가 우리 주 예수 그리스도의 이름으로</p>
        <p>너희를 권하노니 다 같은 말을 하고</p>
        <p>너희 가운데 분쟁이 없이 같은 마음과 같은 뜻으로 온전히 합하라"</p>
        <p>고린도전서 1장 10절 말씀</p>
    </div>
</body>
</html>