html {
    background-image: url("./military.jpg");
    background-size: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

body {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
}

form {
    margin-top: 30px;
}

.form_section {
    margin-top: 40px;
}

.form-label {
    font-size: 40px;
}

.password_bar {
    margin-top: 20px;
    width: 40%;
    font-size: 30px;
    text-align: center;
}

.submit_button {
    margin-top: 20px;
    width: 15%;
    font-size: 20px;
    text-align: center;
}

.teamname_container {
    margin-top: 50px;
    font-size: 50px;
}

.final_hint_section {
    margin-top: 50px;
}

a:link, a:visited, a:hover, a:active {
    color: white;
    margin-top: 50px;
}

.status_title {
    font-size: 40px;
    margin-bottom: 20px;
}

.team_name {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.status_detail {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: red;
}

.mission_explanation {
    background-color: rgba(0,0,0, 0.8);
    
    color: rgb(255,255,255,0.7);
}

.final_message {
    font-size: 25px;
}

.final_word {
    margin-top: 50px;
}

.checkmark {

}